
button{
   background-color: white;
   color: deepskyblue;
   font-family: sans-serif;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 20px;
   border: 4px deepskyblue dotted;
   border-radius: 20px;
   text-align: center;
   margin-left: 10px;
   transition-duration: 1s;
   -webkit-transition-duration: 1s;
   width: 100%;
}

button:hover{
   background-color: rgb(0, 200, 255);
   color: white;
}

h3{
   font-family: sans-serif;
   font-size: 30px;
   color: rgb(0, 200, 255);
   text-align: center;
   padding: 0px;
}

table{
   border: 4px deepskyblue solid;
   border-radius: 40px;
   background-color: white;
   width: 50%;
}

th{
   font-family: Garamond;
   font-size: 30px;
   color: deepskyblue;
}

td{
   font-family: sans-serif;
   color: #004B5F;
}

.inputName{
   text-align: right;
}

.LocTable{
   border: 4px rgb(0, 200, 255) dotted;
   border-radius: 20px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 10px;
   color: black;
   font-family: sans-serif;
   font-size: 15px;
}

#demo{
   color: rgb(0, 200, 255);
   font-family: sans-serif;
   font-size: 20px;
}

#submitButton{
   text-align: center;
   background-color: white;
   color: rgb(0, 200, 255);
   border: 4px rgb(0, 200, 255) dotted;
   border-radius: 20px;
   transition-duration: 0.5s;
   -webkit-transition-duration: 0.5s;
   font-family: sans-serif;
   font-size: 20px;
}
#submitButton:hover{
   background-color: rgb(0, 200, 255);
   color: white;
}


      #id {
    font-family: impact;
}


        #CR {text-align:center;margin-bottom:0;bottom: 0;}
        body {background: linear-gradient(white, #c5c8cc);height:100%;height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}
            ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration:none;
    color:white;
}
.active {
    background-color: #4CAF50;
}
.NPINFO {margin-left: 20px;font-weight:bold;}
.header {text-decoration: underline; color: #061938;font-family: Impact; font-size: 30px; text-align:center;}
#first_heading {font-size: 16px;text-align:center;color:#061938;font-family: Arial, Comic Sans, Times New Roman;}
.F15  {color:#d88304;font-size:15px; margin-left:20px;}
#image {margin-bottom: 50px;margin:auto;text-align:center;zoom: 50%;}
spam {
    font-family: Impact; font-size: 20px;
}
.NoPicnic {
    margin-left: 18px; font-weight:bold;color:#3d4e68;
}
iframe {
    margin-left:20px;
}

}
#CR { float:bottom};
